:root {
    --bg-color: #e6e5e2;
    --text-color: #1f2937;
    --primary-color: #4a6862;

}

html {
    height: 100%;
    display: flex;
    justify-content: center;
}

body {

    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 1.5;
    max-width: 700px;
    width: 100%;
    margin: 0;
}

h1,
h2 {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 3px solid var(--primary-color);
}

a {
    color: var(--primary-color);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    opacity: 0.8;
}

footer {
    text-align: center;
    margin-top: 2em;
}
